/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

/*
 * Mixins 
 */

@mixin h($size) { 
   font-size: $size;//20px;//$size; // 2.618em
   line-height: $magic-number / $size; // 0.5729564553093965em
   margin-bottom: $magic-number - ($size - $magic-number / $size);
   // line-height: 1.5em / 1em * 1em; //24px / 20px;
   // margin-bottom: 1.5em;//24px;
}
@mixin transition($contents) {
   transition: $contents;
   -moz-transition: $contents;
   -webkit-transition: $contents;
   -o-transition: $contents;
}
@mixin border-radius($contents) {
   -moz-border-radius: $contents;
   -o-border-radius: $contents;
   border-radius: $contents;
}
@mixin shadow($first, $second) {
   -webkit-box-shadow: $first, $second;
   -moz-box-shadow: $first, $second;
   -o-box-shadow: $first, $second;
   box-shadow: $first, $second;
}
@mixin simple-shadow($first) {
   -webkit-box-shadow: $first;
   -moz-box-shadow: $first;
   -o-box-shadow: $first;
   box-shadow: $first;
}
@mixin linear-gradient($direction, $color1, $color2) {
   background-image: -o-linear-gradient($direction, $color1, $color2);
   background-image: -moz-linear-gradient($direction, $color1, $color2);
   background-image: -webkit-linear-gradient($direction, $color1, $color2);
   background-image: linear-gradient($direction, $color1, $color2);
}
