/**
 * Primary styles
 *
 * Author: SenhorBardell
 */
// body:not(.login) {background: url(../img/grid.png) 0 -7px;}
body:not(.login) {background: url(../img/pattern.jpg)}
sup {
   text-shadow: none;
   padding: 0 5px 0 5px;
   border-radius: 5px;
}
article {
   padding: $body-line-height;
   text-align: left;
   .error404 { text-align: center; }
   .error404 figure img { @include simple-shadow(none); }
}
#sun {
   background: url('../img/sun.png') no-repeat center;
   content: '';
   display: block;
   position: absolute;
   top: -400px;
   left: 250px;
   width: 341px;
   height: 325px;
   z-index: -1;
   @include transition(top 1s);
}
#main {
   width: 61.8%;
   margin-left: 38.2%;
   margin-top: $body-line-height * 2;
   float: left;
}
aside { 
   margin-top: $body-line-height * 3;
   float: left;
   h3:first-child { @include h(1.5em);}
   ul {list-style-type: none;}
}
#footer-widget-area {
   margin-left: 38.2%;
   aside { width: 33%; margin-top: 0; }
}
#container {
   background: url(../img/clouds.png) center top no-repeat;
   opacity: 1!important;
   @include transition(opacity 1s);
}

#container > header {
   width: 38.2%;   
   text-align: right;   
   position: fixed;
   padding-top: $body-line-height * 3;
   hgroup {margin-right: $body-line-height}
}

#main-nav:after {

   content: '';
   display: block;
   width: 100%;
   height: 183px;
   margin-top: $body-line-height;
   background: url(../img/zeppelin.jpg) no-repeat 100% top;
}

#site {position: relative;}

#site-description {
   text-align: right;
   margin-bottom: $body-line-height;
}

/* Sprites */
.post {
   h1 {position: relative;}
   .date {
      background: url(../img/icons.png) -14px -45px no-repeat;
      position: absolute;
      top: -10%;
      left: -1%;
      width: 32px;
      height: 32px;
      font-size: 12px;
      margin-left: -$body-line-height * 2;
   }
   .day {
      display: block;
      font: bold 17px Corben;
      color: #a62027;
      text-align: center;
      text-shadow: none;
      padding-top: 10px;
      width: 32px;
   }
   .comments {
      position: relative;
      top: -10px;
      float:right;
      vertical-align: top;
      a {
         display: block;
         text-align: center;
         width: 28px;
         height: 28px;
         padding-top: 8px;
         background: url('../img/icons.png') -2px -77px no-repeat;
         font: bold 12px Corben;
         color: #fff;
      }
   }
}
.featured {
   .date {
      position:absolute;
      top: -17px;
      left: -17px;
      background: url(../img/icons.png) -2px 0;
      width: 44px;
      height: 44px;
   }
   .day {
      position:absolute;
      top: 13px;
      left: 15px;
      width: 26px;
   }
}
#main-nav {
   a {padding-right:25px;position:relative;}
   a:after {
      background:url(../img/icons.png) no-repeat;
      font-weight: bold;
      position:absolute;
      width:16px;
      height:16px;
      top:7px;
      right:0;
      content:"";
   }
   #blog a:after { background-position: right -83px; }
   #about a:after { background-position: right -115px; }
   #portfolio a:after { background-position: right -145px; }
   #archives a:after { background-position: right -174px; }
}
#social {
   a { 
      text-indent: -900em;
      text-align: left;
      display: inline-block;
      width: 30px;
      height: 30px;
      background: #fff url(../img/icons.png) no-repeat;
      border-radius: 15px;
   }
   a:hover {
      background-color: red;
      @include transition(background-color 1s);
   }
   li { display: inline; }
   #rss { background-position: 0 -107px; }
   #twitter {background-position: 0 -135px; }
   #facebook {background-position: 0 -165px; }
}
.googleplus, .twitter-button, .facebook-button {
   display: inline-block;
   float: right;
   // padding: 5px 5px;
}

.facebook-button { width: 50px; margin-top: -8px; display: none}

.tag-links a {
   background: rgba(255, 125, 125, .2);
   border-bottom: 1px dashed white;
}

// Experimental
.category-web {background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(0, 255, 0, .03)); }
.category-3d {background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(0, 0, 255, .03)); }
.category-japanese {background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 0, 0, .03)); }

/*
 * Post thumbnail
 */
.attachment-post-thumbnail {
   width: 150px;
   float: right;
   margin: 0 $body-font-size;
   padding: 1px;
   border: 1px solid #ccc;
   border-radius: 3px;
   @include simple-shadow(1px 1px 2px rgba(0, 0, 0, .1)); 
}

/* 
 * Comments
 */

.avatar { float:left; margin: 5px; }
.avatar-70 { // IMG node
   margin: 12px;
   @include border-radius(40px);
   @include shadow( 0 0 0 2px #fff, 0 3px 3px #555 );
}
.vcard {
   .author { padding-top:10px; }
   cite {display:block; font-size: $body-font-size * 0.65}
}
#comments {
   margin-left: $body-line-height;
   p {width: auto;}
   li { list-style-type: none; }
   .text, .reply { margin-left: 95px; } //because of avatar
}
.commentlist {margin-left: -$body-line-height * 1.5; }
// Space between reply button
.comment, .children li { margin-bottom: $body-line-height; }
.comment #respond, .commentlist #respond { margin-left: $body-line-height * 2; }

/*
 * Further reading sectionn
 */
#further-reading {
   text-align: center;
   margin-left: $body-line-height;
}
nav {
   .prev, .middle, .next {
      display: inline-block;
      width: 32%;
   }
   .prev {text-align: left;}
   .middle {text-align: center}
   .next {text-align:right}
   a:hover span, a[href='#top']:hover {
      color: white!important;
      background: $link-hover;
      @include transition(all .5s);
   }
}
.navigation {margin-bottom: 1.8em}
.meta-nav, a[href='#top'] {
   display: inline-block;
   background-color: white;
   color: $link-color!important;
   border-radius: 15px;
   width: 30px;
   height: 30px;
   text-align: center;
   font-family:sans;
   color: white;
}
a[href='#top'] {padding-right: 1px;} // more precious centering
.meta-nav { padding-bottom: 1px; }

.featured-posts { 
   text-align: left;
   margin-top: $body-line-height;
}

/* ======================
 * Gallery
 */

.gallery-item { 
   margin: 1.219em;
   display:inline-block;
}
/*
 * Base figure tag
 */
figure {
   margin-bottom: $body-line-height;
   a { 
      border: none!important; 
      background: none!important; //Temporally fix 
   }
   img { // also post images
      padding: 1px;
      border: 1px solid #ccc;
      border-radius: 3px;
      @include simple-shadow(1px 1px 2px rgba(0, 0, 0, .1)); 
      /* =============== */
      max-width: 100%;
      width: auto;
      height: auto;
   }
}
   figcaption { text-align: center; text-shadow: 0 1px 1px #fff}

.attachment {
   >a { text-align: center }
   //#main h1 {margin-left: -$body-line-height; }
   h1 span {
      font-family: sans;
      text-shadow: none;
      font-size: 20px;
      line-height: 33px;
      background: white;
      border-radius: 15px;
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 33px;
      text-align: center;
      padding-bottom: 1px;
   }
   a:hover span {
         color: #fff;
         background: #c05f28;
         @include transition(all 0.5s);
      }
   nav {
      a {
         border-bottom: none;
      }
      .prev a, .next a { background-color: transparent; }
      .middle {text-align: center;}
      .prev {text-align:left;}
      .next {text-align: right;}
   }
} // .attachment stoped right here

.entry-content nav {margin-bottom: $body-line-height;}

details {
   @include transition(all 1s linear);
   summary {cursor: pointer}
   margin-left: -$body-line-height;
   >p {
      margin: $body-line-height auto 0 $body-line-height;
   }
}

/*
 * Archives
 */
article #archives {
   li {list-style-type: none;}
   :after {
      content: '';
      clear: both;
   }
}
#archives ul { margin-bottom: $body-line-height / 5; }
#posts {width: 60%;}
#years {width: 15%;}
#months {width: 25%;}
#months, #posts, #years {
   float: left;
}
#months, #posts {
   @include transition(all .2s);
}

/*
 * Comment form
 */
input {width: 255px;}
input, textarea {
   background-color: #fff;
   @include border-radius(5px);
   border: 1px solid rgba(0, 0, 0, .2);
   display: block;
   padding: 2px;
   margin-bottom: 0.4em;
   font-family: Judson, serif;
}
textarea { width: 75%; height: 9em; padding: 4px;}
input[type=submit] {
   font-size: 1em;
   padding: .3em;
   width: auto;
   color: #666;
   @include transition(all 0.4s ease);
   :hover {
      color: #fff;
      background-color: red;
   }
}
#search {
   display: inline-block!important;
}
:-moz-placeholder {
   color: #a9a9a9;
}
#s {
   width: 150px;
   margin-bottom: inherit;
   -webkit-appearance: textfield;
   @include transition(width 0.1s ease);
}
#s:focus {width: 200px;}
/*
 * Widgets
 */
.widget-area {
   h2 {
      font-size: $body-font-size;
      line-height: $body-line-height;
   }
   .avatar {padding:0; margin:0 3px 0 0 ;}
   .attachment-post-thumbnail {
      width: 70px;
      margin: 0 3px 0 0 ;
      float: left;
   }
   strong {display: block; }
   p {width: auto; line-height: 16px;}
   .recent_post_item {min-height: 49px;}
}
.date {font-style: italic;}
/*
 * Some twitter stuff
 */
.twitter {
   list-style-type: circle;
}