/* 
 * Responsive styles
 */
@media screen and (max-width: 1024px) {
   #container aside { display: none; }
   aside {
      h3:first-child { @include h(1em); }
      .avatar {
         width:40px;
         height:auto!important;
         margin: 0 6px 0 0!important;
      }
   }
   .recentcomment a, .recent_post_item a, .twitter li {@include h(.9em)}
   .recent_post_item a {line-height: 1.2;}
}
@media screen and (max-width: 1400px) {
   #container aside {display: none;}
   #sun {left: inherit}
}
@media screen and (min-width: 1400px) {
   #main {
      width: 41.2%;
      p { width: auto; }
   }
   #sun {left: 25%}
   #container aside { width: 20.6%;}
}
@media screen and (max-width: 800px) {
   .page article>header>h1 {margin-left: -$body-line-height/1.5}
   #container > header hgroup { margin-right:0;}
   #container {padding:30px;}
   #container > header {
      float:none;
      display: block;
      width: inherit;
      nav li{
         display:inline;
      }
      padding-top: 0;
      position: inherit;
      text-align: left;
   }
   p {width: inherit;}
   #s {
      width: 150px;
      @include transition(width 0.1s ease);
   }
   #s:focus {width: 210px;}
   #main {
      width: inherit;
      float: none;
      margin: 0;
   }
   #sun {display: none;}
   #main-nav:after {content: none};
   #site {margin-bottom:0;}
   /*.navigation {
      .prev {
         text-align:left;
         width: 49%;
      }
      .next {
         text-align: right;
         width: 49%;
      }
   }*/
}
@media screen and (max-width: 600px) {
   #container > header { padding-top: 0; }
   #s:focus {width: 150px}
   p {
      width: inherit; 
      line-height:1.4
   }
   #container {
      padding-right: 5px;
      padding-left: 10px;
   }
   article {
      padding: 5px 0 5px 35px;
   }
   p {
      margin-bottom: inherit;
   }
   h1 {
      margin-bottom: inherit;
   }
   .attachment-post-thumbnail {margin: 3px;}
   /* Archives */
   #years, #months, #posts {
      float: none!important;
      width: auto;
      li {display: inline; margin-right: 5%;}
   }
   #posts li {display: inline-block}
   //.single-attachment {padding: 5px 0 5px 0} why i did that?
}/*1*/
@media screen and (max-width: 320px) {
   #further-reading {
      width: 100%;
      display: inline-block;
      margin-left:0;
   }
   #comments { margin-left: 1.6em }
   .attachment #main h1 { margin-left: 0; }
   #site { font-size:1.8em; }
   #s:focus {width:150px}
}