/// Vars

$magic-number: 1.5em; // testing

// Body 
$body-font-size: 1.25em; //1.245em
$body-line-height: $magic-number / $body-font-size * 1em; //1.15em // false 1.20em
$body-margin-bottom: $magic-number;

$font-color: #443a3a;
$h-color: #8e3a0b; //#720606 - old one;
$nav-link-color: #cf8c21;

$link-color: #8e3a0b;
$link-hover: #c05f28;

// h1>time, h1>sup {display:none!important;}

@import "reset";
@import "helpers";
@import "base";
@import "typography";
@import "primary";
@import "response";
@import "print";


