/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/**
 * Non-semantic helper classes: please define your styles before this section.
 */
/* For image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
  zoom: 1; }

/*
 * Mixins 
 */
/**
 * Minimal base styles.
 */
/* Always force a scrollbar in non-IE */
html {
  overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

/*ul, ol { margin-left: 2em; }*/
ol {
  list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px; }

textarea {
  overflow: auto; }

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid {
  border-color: rgba(0, 0, 0, 0.2); }

input:invalid, textarea:invalid {
  border-color: rgba(255, 0, 0, 0.2); }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #443a3a;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */ }

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #8e3a0b; }

a {
  color: #8e3a0b;
  text-decoration: none; }
  a :active, a :visited {
    color: #8e3a0b; }
  a :hover {
    color: #c05f28; }

.entry-content a {
  border-bottom: 1px dotted #c05f28;
  background-color: rgba(127, 52, 10, 0.1); }

a:hover {
  color: #c05f28; }

nav a {
  color: #cf8c21; }

.read-more {
  float: right; }

/* 
 * Wordpress content styles
 */
em {
  font-style: italic; }

blockquote {
  margin-left: -1.2em;
  margin-bottom: 1.2em;
  width: 100%;
  padding: 1.2em;
  background: rgba(127, 52, 10, 0.1);
  border-bottom: 4px solid rgba(44, 9, 5, 0.5);
  display: inline-block;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  blockquote p {
    margin-bottom: 0;
    font-style: italic; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.alignright, .alignleft {
  margin: 1.2em; }

/* Typography 
 * ----------------------------------
 */
/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
select, input, textarea, button {
  font: 99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* 
 * Font sources
 */
@font-face {
  font-family: 'FacitWeb-Light';
  src: url("http://webfonts.justanotherfoundry.com/Facit/FL");
  font-weight: bold; }

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: normal;
  src: local("EB Garamond"), local("EBGaramond"), url("http://themes.googleusercontent.com/font?kit=kYZt1bJ8UsGAPRGnkXPeFYbN6UDyHWBl620a-IRfuBk") format("woff"); }

/*@font-face {
    font-family: 'Judson';
    font-style: normal;
    font-weight: 700;
    src: local("Judson Bold"),  local("Judson-Bold"),  url("http://themes.googleusercontent.com/font?kit=NDPzIEaQdOK7zQKVTnPkIT8E0i7KZn-EPnyo3HZu7kw") format("woff");
}*/
@font-face {
  font-family: 'Judson';
  font-style: normal;
  font-weight: 400;
  src: local("Judson Regular"), local("Judson-Regular"), url("http://themes.googleusercontent.com/font?kit=COhjM6jTUDio6sq5Q3mvBg") format("woff"); }

/*@font-face {
    font-family: 'Judson';
    font-style: italic;
    font-weight: 400;
    src: local("Judson Italic"),  local("Judson-Italic"),  url("http://themes.googleusercontent.com/font?kit=XQHCNbxVZWwmUlYTvdZosvesZW2xOQ-xsNqO47m55DA") format("woff");
}*/
@font-face {
  font-family: 'Goudy Bookletter 1911';
  font-style: normal;
  font-weight: normal;
  src: local("Goudy Bookletter 1911"), local("GoudyBookletter1911"), url("http://themes.googleusercontent.com/font?kit=l5lwlGTN3pEY5Bf-rQEuIMvsW7MYFVYsuLRj6jSUyb0") format("woff"); }

#site {
  font-size: 2em;
  line-height: 0.8em;
  margin-bottom: 0.6em; }

#main-nav li {
  line-height: 1.5em; }

body {
  font-family: 'EB Garamond', Garamond, Georgia, serif;
  font-size: 1.25em;
  line-height: 1.2em; }

p {
  width: 29.03em;
  margin-bottom: 1.5em; }

sup {
  font-family: 'FacitWeb-Light', monospace; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Goudy Bookletter 1911', Georgia, serif;
  font-weight: bold;
  text-shadow: 0 2px white, 4px 4px 2px rgba(0, 0, 0, 0.2);
  color: #8e3a0b;
  margin-bottom: 1.5em; }

h1 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

h2 {
  font-size: 1.375em;
  line-height: 1.09091;
  margin-bottom: 1.21591em; }

h3 {
  font-size: 1.25em;
  line-height: 1.2;
  margin-bottom: 1.45em; }

h4 {
  font-size: 1.125em;
  line-height: 1.33333;
  margin-bottom: 1.70833em; }

h5 {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 2em; }

nav a {
  font-weight: bold; }

/*Lists*/
ul, ol {
  margin-bottom: 1.5em; }

ul ul, ol ol, ul ol, ol ul {
  margin-left: 1.5em; }

em, blockquote, q {
  font-family: 'Judson', serif; }

pre, code, kbd, samp {
  font-family: Consolas, Monaco,  monospace, sans; }

/* Archives */
#years {
  font-size: 1.8em; }

#months {
  font-size: 1.575em; }

/**
 * Primary styles
 *
 * Author: SenhorBardell
 */
body:not(.login) {
  background: url(../img/pattern.jpg); }

sup {
  text-shadow: none;
  padding: 0 5px 0 5px;
  border-radius: 5px; }

article {
  padding: 1.2em;
  text-align: left; }
  article .error404 {
    text-align: center; }
  article .error404 figure img {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

#sun {
  background: url("../img/sun.png") no-repeat center;
  content: '';
  display: block;
  position: absolute;
  top: -400px;
  left: 250px;
  width: 341px;
  height: 325px;
  z-index: -1;
  transition: top 1s;
  -moz-transition: top 1s;
  -webkit-transition: top 1s;
  -o-transition: top 1s; }

#main {
  width: 61.8%;
  margin-left: 38.2%;
  margin-top: 2.4em;
  float: left; }

aside {
  margin-top: 3.6em;
  float: left; }
  aside h3:first-child {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em; }
  aside ul {
    list-style-type: none; }

#footer-widget-area {
  margin-left: 38.2%; }
  #footer-widget-area aside {
    width: 33%;
    margin-top: 0; }

#container {
  background: url(../img/clouds.png) center top no-repeat;
  opacity: 1!important;
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s; }

#container > header {
  width: 38.2%;
  text-align: right;
  position: fixed;
  padding-top: 3.6em; }
  #container > header hgroup {
    margin-right: 1.2em; }

#main-nav:after {
  content: '';
  display: block;
  width: 100%;
  height: 183px;
  margin-top: 1.2em;
  background: url(../img/zeppelin.jpg) no-repeat 100% top; }

#site {
  position: relative; }

#site-description {
  text-align: right;
  margin-bottom: 1.2em; }

/* Sprites */
.post h1 {
  position: relative; }
.post .date {
  background: url(../img/icons.png) -14px -45px no-repeat;
  position: absolute;
  top: -10%;
  left: -1%;
  width: 32px;
  height: 32px;
  font-size: 12px;
  margin-left: -2.4em; }
.post .day {
  display: block;
  font: bold 17px Corben;
  color: #a62027;
  text-align: center;
  text-shadow: none;
  padding-top: 10px;
  width: 32px; }
.post .comments {
  position: relative;
  top: -10px;
  float: right;
  vertical-align: top; }
  .post .comments a {
    display: block;
    text-align: center;
    width: 28px;
    height: 28px;
    padding-top: 8px;
    background: url("../img/icons.png") -2px -77px no-repeat;
    font: bold 12px Corben;
    color: #fff; }

.featured .date {
  position: absolute;
  top: -17px;
  left: -17px;
  background: url(../img/icons.png) -2px 0;
  width: 44px;
  height: 44px; }
.featured .day {
  position: absolute;
  top: 13px;
  left: 15px;
  width: 26px; }

#main-nav a {
  padding-right: 25px;
  position: relative; }
#main-nav a:after {
  background: url(../img/icons.png) no-repeat;
  font-weight: bold;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 7px;
  right: 0;
  content: ""; }
#main-nav #blog a:after {
  background-position: right -83px; }
#main-nav #about a:after {
  background-position: right -115px; }
#main-nav #portfolio a:after {
  background-position: right -145px; }
#main-nav #archives a:after {
  background-position: right -174px; }

#social a {
  text-indent: -900em;
  text-align: left;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: white url(../img/icons.png) no-repeat;
  border-radius: 15px; }
#social a:hover {
  background-color: red;
  transition: background-color 1s;
  -moz-transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s; }
#social li {
  display: inline; }
#social #rss {
  background-position: 0 -107px; }
#social #twitter {
  background-position: 0 -135px; }
#social #facebook {
  background-position: 0 -165px; }

.googleplus, .twitter-button, .facebook-button {
  display: inline-block;
  float: right; }

.facebook-button {
  width: 50px;
  margin-top: -8px;
  display: none; }

.tag-links a {
  background: rgba(255, 125, 125, 0.2);
  border-bottom: 1px dashed white; }

.category-web {
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(0, 255, 0, 0.03)); }

.category-3d {
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(0, 0, 255, 0.03)); }

.category-japanese {
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 0, 0, 0.03)); }

/*
 * Post thumbnail
 */
.attachment-post-thumbnail {
  width: 150px;
  float: right;
  margin: 0 1.25em;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }

/* 
 * Comments
 */
.avatar {
  float: left;
  margin: 5px; }

.avatar-70 {
  margin: 12px;
  -moz-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 0 2px white, 0 3px 3px #555555;
  -moz-box-shadow: 0 0 0 2px white, 0 3px 3px #555555;
  -o-box-shadow: 0 0 0 2px white, 0 3px 3px #555555;
  box-shadow: 0 0 0 2px white, 0 3px 3px #555555; }

.vcard .author {
  padding-top: 10px; }
.vcard cite {
  display: block;
  font-size: 0.8125em; }

#comments {
  margin-left: 1.2em; }
  #comments p {
    width: auto; }
  #comments li {
    list-style-type: none; }
  #comments .text, #comments .reply {
    margin-left: 95px; }

.commentlist {
  margin-left: -1.8em; }

.comment, .children li {
  margin-bottom: 1.2em; }

.comment #respond, .commentlist #respond {
  margin-left: 2.4em; }

/*
 * Further reading sectionn
 */
#further-reading {
  text-align: center;
  margin-left: 1.2em; }

nav .prev, nav .middle, nav .next {
  display: inline-block;
  width: 32%; }
nav .prev {
  text-align: left; }
nav .middle {
  text-align: center; }
nav .next {
  text-align: right; }
nav a:hover span, nav a[href='#top']:hover {
  color: white!important;
  background: #c05f28;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s; }

.navigation {
  margin-bottom: 1.8em; }

.meta-nav, a[href='#top'] {
  display: inline-block;
  background-color: white;
  color: #8e3a0b !important;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-family: sans;
  color: white; }

a[href='#top'] {
  padding-right: 1px; }

.meta-nav {
  padding-bottom: 1px; }

.featured-posts {
  text-align: left;
  margin-top: 1.2em; }

/* ======================
 * Gallery
 */
.gallery-item {
  margin: 1.219em;
  display: inline-block; }

/*
 * Base figure tag
 */
figure {
  margin-bottom: 1.2em; }
  figure a {
    border: none!important;
    background: none!important; }
  figure img {
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    /* =============== */
    max-width: 100%;
    width: auto;
    height: auto; }

figcaption {
  text-align: center;
  text-shadow: 0 1px 1px #fff; }

.attachment > a {
  text-align: center; }
.attachment h1 span {
  font-family: sans;
  text-shadow: none;
  font-size: 20px;
  line-height: 33px;
  background: white;
  border-radius: 15px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 33px;
  text-align: center;
  padding-bottom: 1px; }
.attachment a:hover span {
  color: #fff;
  background: #c05f28;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s; }
.attachment nav a {
  border-bottom: none; }
.attachment nav .prev a, .attachment nav .next a {
  background-color: transparent; }
.attachment nav .middle {
  text-align: center; }
.attachment nav .prev {
  text-align: left; }
.attachment nav .next {
  text-align: right; }

.entry-content nav {
  margin-bottom: 1.2em; }

details {
  transition: all 1s linear;
  -moz-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  margin-left: -1.2em; }
  details summary {
    cursor: pointer; }
  details > p {
    margin: 1.2em auto 0 1.2em; }

/*
 * Archives
 */
article #archives li {
  list-style-type: none; }
article #archives :after {
  content: '';
  clear: both; }

#archives ul {
  margin-bottom: 0.24em; }

#posts {
  width: 60%; }

#years {
  width: 15%; }

#months {
  width: 25%; }

#months, #posts, #years {
  float: left; }

#months, #posts {
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s; }

/*
 * Comment form
 */
input {
  width: 255px; }

input, textarea {
  background-color: #fff;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 2px;
  margin-bottom: 0.4em;
  font-family: Judson, serif; }

textarea {
  width: 75%;
  height: 9em;
  padding: 4px; }

input[type=submit] {
  font-size: 1em;
  padding: .3em;
  width: auto;
  color: #666;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease; }
  input[type=submit] :hover {
    color: #fff;
    background-color: red; }

#search {
  display: inline-block!important; }

:-moz-placeholder {
  color: #a9a9a9; }

#s {
  width: 150px;
  margin-bottom: inherit;
  -webkit-appearance: textfield;
  transition: width 0.1s ease;
  -moz-transition: width 0.1s ease;
  -webkit-transition: width 0.1s ease;
  -o-transition: width 0.1s ease; }

#s:focus {
  width: 200px; }

/*
 * Widgets
 */
.widget-area h2 {
  font-size: 1.25em;
  line-height: 1.2em; }
.widget-area .avatar {
  padding: 0;
  margin: 0 3px 0 0; }
.widget-area .attachment-post-thumbnail {
  width: 70px;
  margin: 0 3px 0 0;
  float: left; }
.widget-area strong {
  display: block; }
.widget-area p {
  width: auto;
  line-height: 16px; }
.widget-area .recent_post_item {
  min-height: 49px; }

.date {
  font-style: italic; }

/*
 * Some twitter stuff
 */
.twitter {
  list-style-type: circle; }

/* 
 * Responsive styles
 */
@media screen and (max-width: 1024px) {
  #container aside {
    display: none; }

  aside h3:first-child {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 2em; }
  aside .avatar {
    width: 40px;
    height: auto!important;
    margin: 0 6px 0 0!important; }

  .recentcomment a, .recent_post_item a, .twitter li {
    font-size: 0.9em;
    line-height: 1.66667;
    margin-bottom: 2.26667em; }

  .recent_post_item a {
    line-height: 1.2; } }
@media screen and (max-width: 1400px) {
  #container aside {
    display: none; }

  #sun {
    left: inherit; } }
@media screen and (min-width: 1400px) {
  #main {
    width: 41.2%; }
    #main p {
      width: auto; }

  #sun {
    left: 25%; }

  #container aside {
    width: 20.6%; } }
@media screen and (max-width: 800px) {
  .page article > header > h1 {
    margin-left: -0.8em; }

  #container > header hgroup {
    margin-right: 0; }

  #container {
    padding: 30px; }

  #container > header {
    float: none;
    display: block;
    width: inherit;
    padding-top: 0;
    position: inherit;
    text-align: left; }
    #container > header nav li {
      display: inline; }

  p {
    width: inherit; }

  #s {
    width: 150px;
    transition: width 0.1s ease;
    -moz-transition: width 0.1s ease;
    -webkit-transition: width 0.1s ease;
    -o-transition: width 0.1s ease; }

  #s:focus {
    width: 210px; }

  #main {
    width: inherit;
    float: none;
    margin: 0; }

  #sun {
    display: none; }

  #main-nav:after {
    content: none; }

  #site {
    margin-bottom: 0; }

  /*.navigation {
     .prev {
        text-align:left;
        width: 49%;
     }
     .next {
        text-align: right;
        width: 49%;
     }
  }*/ }
@media screen and (max-width: 600px) {
  #container > header {
    padding-top: 0; }

  #s:focus {
    width: 150px; }

  p {
    width: inherit;
    line-height: 1.4; }

  #container {
    padding-right: 5px;
    padding-left: 10px; }

  article {
    padding: 5px 0 5px 35px; }

  p {
    margin-bottom: inherit; }

  h1 {
    margin-bottom: inherit; }

  .attachment-post-thumbnail {
    margin: 3px; }

  /* Archives */
  #years, #months, #posts {
    float: none!important;
    width: auto; }
    #years li, #months li, #posts li {
      display: inline;
      margin-right: 5%; }

  #posts li {
    display: inline-block; } }
/*1*/
@media screen and (max-width: 320px) {
  #further-reading {
    width: 100%;
    display: inline-block;
    margin-left: 0; }

  #comments {
    margin-left: 1.6em; }

  .attachment #main h1 {
    margin-left: 0; }

  #site {
    font-size: 1.8em; }

  #s:focus {
    width: 150px; } }
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
