/* Typography 
 * ----------------------------------
 */

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/* 
 * Font sources
 */
@font-face{
   font-family:'FacitWeb-Light';
   src:url('http://webfonts.justanotherfoundry.com/Facit/FL');
   font-weight:bold;
}

@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: normal;
    src: local("EB Garamond"),  local("EBGaramond"),  url("http://themes.googleusercontent.com/font?kit=kYZt1bJ8UsGAPRGnkXPeFYbN6UDyHWBl620a-IRfuBk") format("woff");
}
/*@font-face {
    font-family: 'Judson';
    font-style: normal;
    font-weight: 700;
    src: local("Judson Bold"),  local("Judson-Bold"),  url("http://themes.googleusercontent.com/font?kit=NDPzIEaQdOK7zQKVTnPkIT8E0i7KZn-EPnyo3HZu7kw") format("woff");
}*/
@font-face {
    font-family: 'Judson';
    font-style: normal;
    font-weight: 400;
    src: local("Judson Regular"),  local("Judson-Regular"),  url("http://themes.googleusercontent.com/font?kit=COhjM6jTUDio6sq5Q3mvBg") format("woff");
}
/*@font-face {
    font-family: 'Judson';
    font-style: italic;
    font-weight: 400;
    src: local("Judson Italic"),  local("Judson-Italic"),  url("http://themes.googleusercontent.com/font?kit=XQHCNbxVZWwmUlYTvdZosvesZW2xOQ-xsNqO47m55DA") format("woff");
}*/
@font-face {
    font-family: 'Goudy Bookletter 1911';
    font-style: normal;
    font-weight: normal;
    src: local("Goudy Bookletter 1911"),  local("GoudyBookletter1911"),  url("http://themes.googleusercontent.com/font?kit=l5lwlGTN3pEY5Bf-rQEuIMvsW7MYFVYsuLRj6jSUyb0") format("woff");
}

#site {
  font-size: 2em;
  line-height: 0.8em;
  margin-bottom: 0.6em;
}

#main-nav li { line-height: 1.5em; }

body {
   font-family: 'EB Garamond', Garamond, Georgia, serif;
   font-size: $body-font-size;
   line-height: $body-line-height;
}
p {
   width: $body-font-size * 23.224;
   margin-bottom: $body-margin-bottom;
}
sup {
   font-family: 'FacitWeb-Light', monospace;
}
h1, h2, h3, h4, h5, h6{
   font-family: 'Goudy Bookletter 1911', Georgia, serif;
   font-weight: bold;
   text-shadow: 0 2px #fff, 4px 4px 2px rgba(0,0,0,0.2);
   color: $h-color;
   //margin-bottom: $body-margin-bottom;
   margin-bottom: 1.5em;
}
h1 { @include h(1.5em);} //font-size: 4.236em;
h2 { @include h(1.375em); } //font-size: 2.618em; 2.472em
h3 { @include h(1.25em); }
h4 { @include h(1.125em); }
h5 { @include h(1em); }
nav a { font-weight: bold; } 

/*Lists*/
ul, ol { margin-bottom: $body-margin-bottom; }

ul ul, ol ol, ul ol, ol ul {margin-left: $body-margin-bottom; }

em, blockquote, q { font-family: 'Judson', serif; }

pre, code, kbd, samp { font-family: Consolas, Monaco,  monospace, sans;  }

/* Archives */
#years { font-size: 1.8em }
#months { font-size: 1.575em }
